# Poetry
.venv

# github codespaces
.devcontainer/

# Screenshots
screenshots/
/.idea/
/.mypy_cache/
/.python-version

*.pyc
geckodriver.log
.vscode/settings.json
allure-reports
allure-results

.DS_Store
.AppleDouble

/framework/practice.py
.pytest_cache
tests/.pytest_cache
tests/negative_tests/.pytest_cache
tests/positive_tests/.pytest_cache

