# github codespaces
.devcontainer/

# Screenshots
screenshots/
/.idea/
/.mypy_cache/
/.python-version

*.pyc
geckodriver.log
.vscode/settings.json
/allure-results/

.DS_Store
.AppleDouble

stepick
framework/features/automationpractice/data

